<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Kavalski/IdeaProjects/WinterExample">
        <classes>
            <class name="demoTest.CalculatorTest"></class>
            <class name="demoTest.TestNGDemo"></class>
        </classes>
    </test>
</suite>